<?xml version="1.0"?>
<launch>
    <!-- RPLidar -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- Motor Controller -->
    <node pkg="my_motor_controller" type="motor_driver_ros_interface.py"
          name="motor_controller" output="screen"/>

    <!-- Differential Drive -->
    <node pkg="differential_driver" type="twist_to_motors.py" 
          name="twist_to_motors" output="screen">
        <param name="base_width" value="0.22"/>
    </node>

    <!-- Odometry -->
    <node pkg="differential_driver" type="diff_tf.py" 
          name="diff_tf" output="screen">
        <param name="base_width" value="0.22"/>
        <param name="ticks_meter" value="607549"/>
    </node>

    <!-- Keyboard Teleop -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" 
          name="teleop_keyboard" output="screen"/>
</launch>
